.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
}

.counter-btn {
  width: 35px;
  height: 35px;
  border: 1px solid darkcyan;
  background-color: #fff;
  border-radius: 6px;
  transition: 0.3s;
}

.counter-btn:hover {
  background-color: darkcyan;
  color: #000;
}
