.users-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 30px; 
}

.card-container {
  max-width: 1350px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.Info{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}